<div id="main">
    <div class="article">
        {{#if article.version}}
            <a class="sha-version" href="/{{article.version}}/{{article.name}}">Static Version</a>
        {{/if}}
        <h1>
            <a href="/{{article.name}}">{{article.title}}</a>
        </h1>

        {{{markdownEncode article.markdown}}}

        <hr style="clear:both" />

        <div id="disqus_thread" class="body"></div>
        <script type="text/javascript">
            var disqus_url = "http://howtonode.org/#{article.name}";
        </script>
        <script src="http://disqus.com/forums/howtonodeorg/embed.js" type="text/javascript"></script>
        <a class="view-thread" href="http://disqus.com/forums/howtonodeorg/?url=ref">View the discussion thread.</a>
        <a class="dsq-brlink" href="http://disqus.com">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        <script type="text/javascript">
            (function() {
                var links = document.getElementsByTagName('a');
                var query = '?';
                for(var i = 0; i < links.length; i++) {
                    if(links[i].href.indexOf('#disqus_thread') >= 0) {
                        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&amp;';
                    }
                }

                document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/howtonodeorg/get_num_replies.js' + query + '"></' + 'script>');
            })();
        </script>
    </div>
</div>

<div id="sidebar">
    <div class="aside author">
        <h4>About the Author</h4>
        <img class="headshot" src="{{gravitar author.email}}" />
    
        <dl>
            <dt>Name:</dl>
            <dd>{{author.name}}</dd>
        </dl>

        {{#if author.github}}
            <dl>
                <dt>Github:</dt>
                <dd>{{github author.github}}</dd>
            </dl>
        {{/if}}

        {{#if author.bitbucket}}
            <dl>
                <dt>BitBucket:</dt>
                <dd>{{bitbucket author.bitbucket}}</dd>
            </dl>
        {{/if}}

        {{#if author.twitter}}
            <dl>
                <dt>Twitter:</dt>
                <dd>{{twitter author.twitter}}
            </dl>
        {{/if}}

        {{#if author.location}}
            <dl>
                <dt>Location:</dt>
                <dd>{{author.location}}</dd>
            </dl>
        {{/if}}

        {{#if author.homepage}}
            <dl>
                <dt>Links:</dt>
                <dd>
                    <a href="{{author.homepage}}">Homepage</a>
                </dd>
            </dl>
        {{/if}}
    </div>

    <div class="aside">
        <h4>About this Article</h4>
        <a class="twitter-share-button" href="http://twitter.com/share" data-count="horizontal" data-via="creationix">Tweet</a>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

        {{#if article.date}}
            <dl title="article.date">
                <dt>Date Released:</dt>
                <dd>{{formatDate article.date "%A, %B %e, %Y"}}</dd>
            </dl>
        {{/if}}

        {{#if article.lastUpdated}}
            <dl title="{{article.lastUpdated}}}">
                <dt>Last Updated:</dt>
                <dd>{{formatDate article.lastUpdated "%A, %B %e, %Y"}}</dd>
            </dl>
        {{/if}}

        {{#if article.node}}
            <dl>
                <dt>Node Version:</dt>
                <dd>
                    <a href="http://github.com/joyent/node/tree/{{article.node}}">node {{article.node}}</a>
                </dd>
            </dl>
        {{/if}}

        {{#if article.dependencies}}
            <dl>
                <dt>Dependency Versions:</dt>
                <dd>
                    <ul>
                        {{#each article.dependencies}}
                            <li>
                                <a href="http://github.com/creationix/haml-js/tree/8ea2df3a90ff488ed253d5872e0f4a387f393e5d">haml-js v0.2.2</a>
                            </li>
                        {{/each}}
                    <ul>
                </dd>
            </dl>
        {{/if}}

        {{#if article.uniqueSnippets}}
            <dl>
                <dt>Code Samples:</dt>
                    <dd>
                    <ul>
                        {{#each article.uniqueSnippets}}
                        <li>
                            <a href="{{snippet.filename}}">base</a>
                        </li>
                        {{/each}}
                    </ul>
                </dd>
            </dl>
        {{/if}}

        <dl>
            <dt>Revisions:</dt>
            <dd>
                <ul>
                {{#each article.log}}
                    <li title="{{stat.message}}">
                        <a href="/{{version}}/{{article.name}}">stat.date</a>
                    </li>
                {{/each}}
                </ul>
            </dd>
        </dl>

        {{#if article.related}}
            <div class="bubble">
                <h4>Other Articles by this Author</h4>
                <ul>
                    {{#each article.related}}
                        <li>
                            <a href="/{{name}}">{{title}}</a>
                            {{#if node}}
                                <span class="versiontag">{{node}}</span>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>

    <div class="bubble">{{{markdownEncode description}}}</div>
</div>
