<div class="row">
    <div class="span9">
        <div class="well">
            {{#if article.version}}
                <a class="sha-version" href="/{{article.version}}/{{article.name}}">Static Version</a>
            {{/if}}
            <h1>
                <a href="/article/{{article.name}}">{{article.title}}</a>
            </h1>

            {{{markdownEncode article.markdown}}}
        </div>
    </div>

    <div class="span3">
        <div class="well">
            <h4>About the Author</h4>
            <img class="headshot" src="{{gravitar author.email 100}}" />
        
            <dl>
                <dt>Name:</dt>
                <dd>{{author.name}}</dd>
            </dl>

            {{#if author.github}}
                <dl>
                    <dt>Github:</dt>
                    <dd>{{github author.github}}</dd>
                </dl>
            {{/if}}

            {{#if author.bitbucket}}
                <dl>
                    <dt>BitBucket:</dt>
                    <dd>{{bitbucket author.bitbucket}}</dd>
                </dl>
            {{/if}}

            {{#if author.twitter}}
                <dl>
                    <dt>Twitter:</dt>
                    <dd>{{twitter author.twitter}}
                </dl>
            {{/if}}

            {{#if author.location}}
                <dl>
                    <dt>Location:</dt>
                    <dd>{{author.location}}</dd>
                </dl>
            {{/if}}

            {{#if author.homepage}}
                <dl>
                    <dt>Links:</dt>
                    <dd>
                        <a href="{{author.homepage}}">Homepage</a>
                    </dd>
                </dl>
            {{/if}}

            {{#if author.markdown}}
                <dl>
                    <dt>Description:</dt>
                    <dd>
                        {{{markdownEncode author.markdown}}}
                    </dd>
                </dl>
            {{/if}}
        </div>

        <div class="well">
            <h4>About this Article</h4>
            <a class="twitter-share-button" href="http://twitter.com/share" data-count="horizontal" data-via="posco2k8">Tweet</a>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

            {{#if article.date}}
                <dl title="article.date">
                    <dt>Date Released:</dt>
                    <dd>{{formatDate article.date "%A, %B %e, %Y"}}</dd>
                </dl>
            {{/if}}

            {{#if article.lastUpdated}}
                <dl title="{{article.lastUpdated}}}">
                    <dt>Last Updated:</dt>
                    <dd>{{formatDate article.lastUpdated "%A, %B %e, %Y"}}</dd>
                </dl>
            {{/if}}

            {{#if article.uniqueSnippets}}
                <dl>
                    <dt>Code Samples:</dt>
                        <dd>
                        <ul>
                            {{#each article.uniqueSnippets}}
                            <li>
                                <a href="{{filename}}">{{base}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </dd>
                </dl>
            {{/if}}

            <dl>
                <dt>Revisions:</dt>
                <dd>
                    <ul>
                    {{#each article.log}}
                        <li title="{{message}}">
                            <a href="/{{@key}}/{{../article.name}}">{{date}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </dd>
            </dl>

            {{#if article.related}}
                <h4>Other Articles by this Author</h4>
                <ul>
                    {{#each article.related}}
                        <li>
                            <a href="/{{name}}">{{title}}</a>
                            {{#if node}}
                                <span class="versiontag">{{node}}</span>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

        <div class="well">
            <h4>Description</h4>
            {{{markdownEncode description}}}
        </div>
    </div>
</div>