<div class="row">
    <div class="span8">
        <div class="article">
                <hr class="divider" />

                <h1>
                    <a href="/article/{{article.name}}">{{title}}</a>
                </h1>

                <ul class="meta">
                    <li><i class="icon-calendar"></i> {{formatDate article.date "%B %d%k, %Y"}}</li>

                    {{#if article.categories}}
                        <li><i class="icon-tags"></i> {{categoryList article.categories}}</li>
                    {{/if}}

                    <li><i class="icon-comment"></i> <a href="/article/{{article.name}}#disqus_thread">Comments</a></li>
                </ul>

                {{{markdownEncode article.markdown}}}
        </div>

        {{> comments}}
    </div>

    <div class="offset1 span3">
        {{> masthead}}

        {{> sidebar-share}}
        {{> sidebar-article-information}}
        {{> sidebar-contact}}
    </div>
</div>