<div class="row">

    <!-- Main -->
    <div class="span8">
        <div class="phone-masthead">
            {{> sidebar-masthead}}
        </div>
        
        <ul class="breadcrumb">
            <li><a href="/articles">Articles<span class="divider">»</span></a></li>
            <li><a class="active" href="/category/{{toLowerCase category}}">{{category}}</a></li>
        </ul>

        <div class="articles">
            {{#each articles}}
                <article class="article">
                    <hr class="divider" />

                    <h3>
                        <a href="/{{#if alias}}{{alias}}{{else}}article/{{name}}{{/if}}">{{title}}</a>
                    </h3>

                    <ul class="meta">
                        <li><i class="icon-calendar"></i> {{formatDate date "%B %d%k, %Y"}}</li>

                        {{#if categories}}
                            <li><i class="icon-tags"></i> {{categoryList categories}}</li>
                        {{/if}}

                        <li><i class="icon-comment"></i> <a href="/{{#if alias}}{{alias}}/{{else}}article/{{name}}{{/if}}#disqus_thread">Comments</a></li>
                    </ul>

                    {{{intro markdown}}}

                    <a class="more" href="/{{#if alias}}{{alias}}{{else}}article/{{name}}{{/if}}">Read More</a>
                </article>
            {{else}}
                <article class="article">
                    <hr class="divider" />

                    <h3>No Articles</h3>
                    
                    <p>There are currently no articles to display.</p>
                </article>
            {{/each}}
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar offset1 span3">
        {{> sidebar-masthead}}

        {{> sidebar-tweets}}
        {{> sidebar-contact}}
        {{> sidebar-categories}}
    </div>

</div>
