<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>neilgoodman.net</title>
        <atom:link href="http://neilgoodman.net/feed.xml" rel="self" type="application/rss+xml" />
        <link>http://neilgoodman.net</link>
        <description>I am a Software Design Engineer at Sonic Foundry and I am currently living in Madison, WI. I graduated from the University of Wisconsin-Madison in 2010 with a Bachelors of Science in Computer Science. My passion is software development, but more specifically I work in the areas of UI, web services, and mobile. I love JavaScript, developing elegant and simple frameworks.</description>
        <pubDate>{{formatNewRFC822Date}}</pubDate>
        <generator>http://github.com/posco2k8/wheat</generator>
        <language>en</language>
        
        {{#each articles}}
            <item>
                <title>{{title}}</title>
                <link>http://neilgoodman.net/{{#if alias}}{{alias}}{{else}}article/{{name}}{{/if}}</link>
                <comments>http://neilgoodman.net/{{#if alias}}{{alias}}{{else}}article/{{name}}{{/if}}#disqus_thread</comments>
                <pubDate>{{formatRFC822Date date}}</pubDate>
                <guid isPermaLink="true">http://neilgoodman.net/{{#if alias}}{{alias}}{{else}}article/{{name}}{{/if}}</guid>
                <description>{{markdownEncode markdown}}</description>            
                {{#if author}}
                    <author>
                        {{author.email}} ({{author.name}})
                    </author>
                {{/if}}
            </item>
        {{/each}}
    </channel>
</rss>
