<div class="row">
    <div class="span8">
        {{#each articles}}
            <div class="well">
                <div class="author">
                    <img src="{{gravitar author.email "30"}}" />
                    By {{author.name}}
                </div>
                <div class="date" title="{{date}}">{{formatDate date "%Y.%m.%d"}}</div>
                
                <h3>
                    <a href="/article/{{name}}">{{title}}</a>
                </h3>

                {{{intro markdown}}}

                <a class="more" href="/article/{{name}}">Read more...</a>
            </div>
        {{else}}
            <div class="well">
                <h3>No Articles</h3>
                <p>There are currently no articles to display. Please check the URL or come back at a later time.</p>
            </div>
        {{/each}}
    </div>

    <div class="offset1 span3">
        {{> sidebar-nav}}

        <div class="well">
            <h4>Description</h4>
            {{{markdownEncode description.markdown}}}
        </div>

        {{#if articles}}
            <div class="well">
                <h4>Articles</h4>
                <ul>
                    {{#each articles}}
                        <li>
                            <a href="/article/{{name}}">{{title}}</a> by {{author.name}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}

        {{#if categories}}
            <div class="well">
                <h4>Categories</h4>
                <ul>
                    {{#each categories}}
                        <li>
                            <a href="/category/{{this}}">{{this}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
</div>
