<div class="row">
    <div class="span8">
        {{#each articles}}
            <div class="article">
                <hr class="divider" />

                <h3>
                    <a href="/article/{{name}}">{{title}}</a>
                </h3>

                <ul class="meta">
                    <li><i class="icon-calendar"></i> {{formatDate date "%B %d%k, %Y"}}</li>

                    {{#if categories}}
                        <li><i class="icon-tags"></i> {{categoryList categories}}</li>
                    {{/if}}

                    <li><i class="icon-comment"></i> <a href="/article/{{name}}#disqus_thread">0</a></li>
                </ul>

                {{{intro markdown}}}

                <a class="more" href="/article/{{name}}">Read More</a>
            </div>
        {{else}}
            <div class="article">
                <h3>No Articles</h3>
                <p>There are currently no articles to display. Please check the URL or come back at a later time.</p>
            </div>
        {{/each}}
    </div>

    <div class="offset1 span3">
        {{> masthead}}

        {{#if categories}}
            <div class="sidebar-categories">
                <hr class="divider" />
                
                <h4 class="sidebar-header">Categories</h4>

                <ul class="sidebar-list">
                    {{#each categories}}
                        <li>
                            <a href="/category/{{this}}">{{this}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
</div>
