<div class="row">
    <div class="span8">
        {{#each articles}}
            <div class="well">
                <div class="author">
                    <img src="{{gravitar author.email "30"}}" />
                    By {{author.name}}
                </div>
                <div class="date" title="{{date}}">{{formatDate date "%Y.%m.%d"}}</div>
                
                <h3>
                    <a href="/article/{{name}}">{{title}}</a>
                </h3>

                {{{intro markdown}}}

                <a class="more" href="/article/{{name}}">Read more...</a>
            </div>
        {{/each}}
    </div>

    <div class="span4">
        <div class="well">
            <h4>Description</h4>
            {{{markdownEncode description}}}
        </div>

        <div class="well">
            <h4>Articles</h4>
            <ul>
                {{#each articles}}
                    <li>
                        <a href="/{{name}}">{{title}}</a>
                        by
                        {{author.name}}

                        {{#if article.node}}
                            <span class="versiontag">{{node}}</span>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
