<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{#if title}}
                {{title}} - 
            {{/if}}
            {{description.name}}
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <!-- SEO -->
        {{#if article}}
            <meta name="description" content="{{markdownFirstParagraph article.markdown}}">
        {{else}}
            <meta name="description" content="{{markdownFirstParagraph description.markdown}}">
        {{/if}}

        <!-- Facebook Open Graph -->
        {{#if article}}
            <meta property="og:title" content="{{article.title}}">
            <meta property="og:type" content="article">
            <meta property="og:url" content="{{pathJoin description.site article.name}}">
            <meta property="og:description" content="{{markdownFirstParagraph article.markdown}}">

            {{#if article.firstImage}}
                <meta property="og:image" content="{{pathJoin description.site article.firstImage}}">
            {{/if}}
        {{else}}
            <meta property="og:title" content="{{description.name}}">
            <meta property="og:type" content="blog">
            <meta property="og:url" content="{{description.site}}">
            <meta property="og:description" content="{{markdownFirstParagraph description.markdown}}">

            {{#if description.image}}
                <meta property="og:image" content="{{pathJoin description.site description.image}}">
            {{/if}}
        {{/if}}
        
        <meta property="og:site_name" content="{{description.name}}">
        
        {{#if description.author.facebook}}
            <meta property="fb:admins" content="{{description.author.facebook}}">
        {{/if}}
        
        {{#if description.facebookappid}}
            <meta property="fb:app_id" content="{{description.facebookappid}}">
        {{/if}}

        {{#if description.locality}}
            <meta property="og:locality" content="{{description.locality}}">
        {{/if}}

        {{#if description.region}}
            <meta property="og:region" content="{{description.region}}">
        {{/if}}

        {{#if description.country}}
            <meta property="og:country-name" content="{{description.country}}">
        {{/if}}

        <!-- Twitter Card -->
        {{#if article}}
            {{#if article.author.twitter}}
                <meta name="twitter:creator" content="@{{article.author.twitter}}">
            {{/if}}

            <meta name="twitter:url" content="{{pathJoin description.site "/article/" article.name}}">
            <meta name="twitter:title" content="{{article.title}}">
            <meta name="twitter:description" content="{{markdownFirstParagraph article.markdown}}">

            {{#if article.firstImage}}
                <meta name="twitter:image" content="{{pathJoin description.site "/article/" article.firstImage}}">
            {{/if}}
        {{else}}
            {{#if description.author.twitter}}
                <meta name="twitter:creator" content="@{{description.author.twitter}}">
            {{/if}}

            <meta name="twitter:url" content="{{description.site}}">
            <meta name="twitter:title" content="{{description.name}}">
            <meta name="twitter:description" content="{{markdownFirstParagraph description.markdown}}">

            {{#if description.image}}
                <meta name="twitter:image" content="{{pathJoin description.site description.image}}">
            {{/if}}
        {{/if}}
        <meta name="twitter:card" content="summary">

        {{#if description.author.twitter}}
            <meta name="twitter:site" content="@{{description.author.twitter}}">
        {{/if}} 

        <!-- RSS Feed -->
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml">

        <!-- Assets -->
        {{js "javascripts"}}
        {{css "stylesheets"}}

        <!-- Client Templates -->
        <script data-template-name="tweet-list" type="text/x-underscore-template">
            <ul class="sidebar-list fade">
                <% _.each(tweets, function (tweet) { %>
                    <li>
                        <i class="icon-chevron-right"></i>
                        <div class="tweet">
                            <%= parseTweet(tweet.text) %>
                            <div class="timeago"><a href="//twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id_str %>"><%= moment(tweet.created_at).fromNow() %></a> via <%= tweet.source %></div>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </script>
    </head>
    <body>
        <div class="container">
            {{{content}}}
        </div>

        {{> footer}}

        <script type="text/javascript">
            var disqus_shortname = 'neilgoodmannet';

            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
    </body>
</html>
